<div class="flex flex-col items-center justify-center h-full">
  <div class="w-full max-w-sm my-2 px-4">
    <div class="bg-gray-300 h-2 rounded">
      <div class="bg-blue-600 h-2 rounded" [style.width]="trackProgress() + '%'"></div>
    </div>
  </div>
  <div class="flex flex-row justify-center space-x-4 my-2">
    <button class="bg-gray-200 hover:bg-gray-300 px-3 py-1 rounded">
      <fa-icon icon="step-backward"></fa-icon>
    </button>
    <button class="bg-gray-200 hover:bg-gray-300 px-3 py-1 rounded" (click)="togglePlayPause()">
      @if (playing()) {
        <fa-icon icon="pause"></fa-icon>
      } @else {
        <fa-icon icon="play"></fa-icon>
      }
    </button>
    <button class="bg-gray-200 hover:bg-gray-300 px-3 py-1 rounded">
      <fa-icon icon="step-forward"></fa-icon>
    </button>
  </div>
</div>
