<div class="grid grid-cols-3 h-screen border border-black">
  <div class="grid grid-rows-5 border border-black">
    <div class="border border-black">
      <app-track-control></app-track-control>
    </div>
    <div class="row-span-4 border border-black"></div>
  </div>
  <div class="col-span-2 grid grid-rows-[1fr_14fr] border border-black">
    <div class="border border-black">
      <app-library-search></app-library-search>
    </div>
    <div class="border border-black">
      <app-library-list class="block m-2"></app-library-list>
    </div>
  </div>
</div>
