<div class="grid grid-cols-3 h-screen border border-black">
  <div class="grid grid-rows-5 border border-black">
    <div class="border border-black">
      <app-track-control></app-track-control>
    </div>
    <div class="row-span-4 border border-black"></div>
  </div>
  <div class="col-span-2 grid grid-rows-[1fr_14fr] border border-black">
    <div class="border border-black flex items-center gap-0.5">
      <app-track-search class="flex-1"></app-track-search>
      <app-pop-up-menu class="flex-none mr-2"></app-pop-up-menu>
    </div>
    <div class="border border-black">
      <app-track-list class="block m-2"></app-track-list>
    </div>
  </div>
</div>
